<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <title>Heyner Cuevas Portfolio</title>
</head>
<body>
   <nav class="flex flex-row px-5 py-2">
        <div class="flex flex-row">
            <button class="material-symbols-outlined order-2 h-2" style="font-size: 2rem" onclick="toggleMenu()">menu</button>
            <ul class="list-none order-1 w-0 scale-x-0 transition-all duration-75 origin-left">
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact"> Contact </a></li>
            </ul>
        </div> 
        <div class="w-full text-center" style="font-family">
            Heyner Cuevas
        </div>
   </nav>
   <script src="main.js"></script>
</body>
</html>