<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <title>Heyner Cuevas Portfolio</title>
</head>
<body>
   <nav class="flex flex-row">
        <div id="sidebar" class="fixed h-full">
            <div class="fixed h-full w-60 bg-white pt-3">
                <button class="material-symbols-outlined h-10 pl-5" style="font-size: 2rem" onclick="toggleMenu()">menu</button>
                <div id="sidebar-content" class="flex flex-col w-0 scale-x-0 transition-all duration-75 origin-left">
                    <button class="h-10 active:bg-gray-500 text-center" onclick="location.href='#Home'">Home</button>
                    <button class="h-10 active:bg-gray-500 text-center" onclick="location.href='#Projects'">Projects</button>
                    <button class="h-10 active:bg-gray-500 text-center" onclick="location.href='#Contact'">Contact</button>
                </div>
            </div>
            
        </div> 
        <div class="w-full text-center pt-3">
            Heyner Cuevas
        </div>
   </nav>
   <script src="main.js"></script>
</body>
</html>